body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

.topbar {
    display: flex;
    gap: 10px;
    padding: 10px;
    background: #1e293b;
}

button {
    padding: 10px;
    background: #334155;
    border: none;
    color: white;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;
    padding: 10px;
}

.card {
    background: #1e293b;
    padding: 15px;
    border-radius: 12px;
}